<style>
    datalist {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        writing-mode: vertical-lr;
        width: 200px;
    }

    option {
        padding: 0;
    }

    input[type="range"] {
        width: 200px;
        margin: 0;
    }
</style>

<h2 class="border-bottom text-dark pb-2"><%= t('heading.еdit_profile') %></h2>

<div class="row">
  <div class="col-md-6 buffer-top">
    <%= form_for Project.new, html: { multipart: true } do |f| %>
      <div class="mb-2">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>
      <div class="mb-2">
        <%= f.label :status %>
        <%= f.select :status, Project.statuses.keys.map { |status| [I18n.t("activerecord.attributes.project.statuses.#{status}"), status] }, {}, class: 'form-select' %>
      </div>
      <div class="mb-2" style="min-width: 800px">
        <%= f.label :progress %>
        <br>
        <%= f.text_field :progress, class: 'form-range', min: '0', max: 100, step: 20, id: 'customRange3', type: :range %>
        <datalist id="values">
          <option value="0" label="0"></option>
          <option value="20" label="20"></option>
          <option value="40" label="40"></option>
          <option value="60" label="60"></option>
          <option value="80" label="80"></option>
          <option value="100" label="100"></option>
        </datalist>
      </div>
      <div class="mb-2" style="min-width: 800px">
        <%= f.label :content %>
        <%= f.rich_text_area :content, style: 'height: 300px' %>
      </div>
      </div>
      <div class="mt-4">
        <%= f.submit t('links.save'), class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
